<!DOCTYPE html>
<html>
<head>
  <title>_t{Opções para administrador}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {LIBRARIES}
  {HEAD}
  <link href="app/resources/custom-notebook.css" rel="stylesheet" type="text/css" media="screen" />
  {ICON}
</head>
<body>
  <div class="adianti_container">
    <div class="body">
      <div class="sidepanel">
        <div class="username" style="text-align:right">
          _t{Seja bem-vindo},
          <img style="height:18px;margin:0;padding:0;" src="{foto}">
          {nome}
        </div>
        <h2>_t{Opções}</h2>
        <ul>
          <li><a generator="adianti" href="index.php?class=ObjetoList">_t{Catálogo}</a></li>
          <li><a generator="adianti" href="index.php?class=ConversaList">_t{Conversas}</a></li>
          <li><a generator="adianti" href="index.php?class=DoacaoList">_t{Solicitações}</a></li>
          <li><a generator="adianti" href="index.php?class=OpiniaoFormList">_t{Enviar Opinião}</a></li>
          <li><a generator="adianti" href="index.php?class=ObjetoForm">_t{Publicar objeto}</a></li>
          <li><a generator="adianti" href="index.php?class=ObjetoAlteraStatus">_t{Objetos publicados}</a></li>
          <hr>
          <li><a generator="adianti" href="index.php?class=CorFormList">_t{Cor}</a></li>
          <li><a generator="adianti" href="index.php?class=TipoFormList">_t{Tipo}</a></li>
          <li><a generator="adianti" href="index.php?class=SecaoFormList">_t{Seção}</a></li>
          <li><a generator="adianti" href="index.php?class=ObjetoAnaliseFormList">_t{Análise}</a></li>
          <li><a generator="adianti" href="index.php?class=VisualizarOpiniaoFormList">_t{Opinião}</a></li>
          <li><a generator="adianti" href="index.php?class=CategoriaFormList">_t{Categoria}</a></li>
          <li><a generator="adianti" href="index.php?class=UsuarioListDefAdm">_t{Administrador}</a></li>
          <hr>
          <li><a generator="adianti" href="index.php?class=LoginForm&method=onLogout&static=1">_t{Sair}</a></li>
        </ul>
      </div>
            
      <div id="adianti_div_content" class="content"></div>
      <div id="adianti_online_content"></div>
      <div id="pageboth"><br></div>
    </div>
    <div style="clear:both;"></div>
  </div>
</body>
</html>