<!DOCTYPE html>
<html>
<head>
  <title>_t{Opções para visitante}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {LIBRARIES}
  {HEAD}
  <link href="app/resources/custom-notebook.css" rel="stylesheet" type="text/css" media="screen" />
  {ICON}
</head>
<body>
  <div class="adianti_container">
    <div class="body">
      <div class="sidepanel">
        <div class="username" style="text-align:right">_t{Seja bem-vindo}, _t{Visitante}</div>
        <h2>_t{Opções}</h2>
        <ul>
          <li><a href="index2.php">_t{Página inicial}</a></li>
          <hr>
          <li><a generator="adianti" href="index.php?class=CadastroFormStep1">_t{Cadastrar-se}</a></li>
          <li><a generator="adianti" href="index.php?class=UsuarioFormConfirmar">_t{Confirmar conta}</a></li>
          <li><a generator="adianti" href="index.php?class=LoginForm">_t{Entrar}</a></li>
        </ul>
      </div>
      <div id="adianti_div_content" class="content"></div>
      <div id="adianti_online_content"></div>
      <div id="pageboth"><br></div>
    </div>
    <div style="clear:both;"></div>
  </div>
</body>
</html>